html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 23px;
  color: #B9B9BE;
}

html,
body {
  height: 100%;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  font-size: inherit;
  color: inherit;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

.title {
  font-weight: 500;
  font-size: 32px;
  line-height: 23px;
  color: #000;
}

.button {
  padding: 12px 50px;
  display: inline-block;
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  border-radius: 25px;
}

.button--primary {
  border: 2px solid #F47322;
  background-color: #F47322;
  color: #FFF;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.button--primary:hover {
  border-color: #5F5F61;
}

.button--default {
  border: 2px solid #FFF;
  background-color: #FFF;
  color: #5F5F61;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.button--default:hover {
  border-color: #5F5F61;
}

.button--outlined {
  border: 2px solid #F37321;
  background-color: #FFF;
  color: #F47322;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.button--outlined:hover {
  background: #FFA871;
  border-color: #FFA871;
  color: #FFF;
}

.header {
  padding: 10px 0;
  margin-bottom: 5px;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  margin-right: 76px;
}

.logo__img {
  display: inline-block;
}

.search {
  position: relative;
  margin-right: auto;
  max-width: 620px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.search__input {
  padding: 13px 50px 13px 20px;
  width: 100%;
  background: rgba(238, 238, 238, 0.71);
  border-radius: 10px;
  border: none;
  font-size: 16px;
  line-height: 23px;
  color: #57565B;
}

.search__input:focus {
  outline: 2px solid #F47322;
}

.search__input:hover {
  outline: 2px solid rgba(244, 115, 34, 0.5);
}

.search__button {
  position: absolute;
  right: 8px;
  top: 4px;
  padding: 10px;
  margin: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.search__button-image {
  display: inline-block;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__login {
  margin-right: 30px;
  padding: 17px 30px;
  display: block;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #000;
  background: #EBEBEB;
  border-radius: 50px;
}

.menu__cart {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #F47322;
  border-radius: 50px;
}

.menu__cart-notification {
  position: absolute;
  bottom: -2px;
  right: -2px;
  padding: 5px;
  font-size: 10px;
  line-height: 11px;
  color: #000;
  background-color: #FFAF19;
  border-radius: 50%;
}

.slider {
  margin-bottom: 50px;
}

.slider__inner {
  position: relative;
}

.slider__item {
  padding: 76px 100px;
  min-height: 400px;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.slider__item--1 {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(40.45%, rgba(0, 0, 0, 0.43)), to(rgba(0, 0, 0, 0))), url("../images/slider/1.png");
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.43) 40.45%, rgba(0, 0, 0, 0) 100%), url("../images/slider/1.png");
}

.slider__item--2 {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(40.45%, rgba(0, 0, 0, 0.43)), to(rgba(0, 0, 0, 0))), url("../images/slider/2.png");
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.43) 40.45%, rgba(0, 0, 0, 0) 100%), url("../images/slider/2.png");
}

.slider__item--3 {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(40.45%, rgba(0, 0, 0, 0.43)), to(rgba(0, 0, 0, 0))), url("../images/slider/3.png");
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.43) 40.45%, rgba(0, 0, 0, 0) 100%), url("../images/slider/3.png");
}

.slider__item-content {
  max-width: 400px;
}

.slider__item-title {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 50px;
  line-height: 51px;
  color: #FFF;
}

.slider__item-text {
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 23px;
  color: #FFF;
}

.slider__nav-button {
  position: absolute;
  bottom: 39px;
  z-index: 5;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(235, 235, 235, 0.7);
  border-radius: 50%;
}

.slider__nav-button--prev {
  right: 103px;
}

.slider__nav-button--next {
  right: 46px;
}

.slider__nav-image {
  display: block;
}

.promo {
  margin-bottom: 110px;
}

.promo__inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 55px;
}

.promo__card {
  padding: 36px 0 31px 32px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
}

.promo__card--first {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url("../images/cards/1.png");
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/cards/1.png");
}

.promo__card--second {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url("../images/cards/2.png");
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/cards/2.png");
}

.promo__card-top {
  margin-bottom: 72px;
}

.promo__card-title {
  margin-bottom: 21px;
  font-weight: 500;
  font-size: 24px;
  line-height: 23px;
  color: #FFF;
}

.promo__card-text {
  max-width: 170px;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  color: #FFF;
}

.promo__card-price {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 30px;
  line-height: 23px;
  color: #FFF;
}

.promo__card-delivery {
  margin-bottom: 25px;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  color: #FFF;
}

.delivery {
  margin-bottom: 110px;
}

.delivery__title {
  margin-bottom: 47px;
}

.delivery__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  grid-gap: 30px;
}

.delivery__card {
  position: relative;
  max-width: 275px;
  max-height: 180px;
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
}

.delivery__card:hover {
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
}

.delivery__card-image {
  display: inline-block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

.delivery__card-label {
  position: absolute;
  top: 16px;
  left: 10px;
  padding: 5px 10px;
  display: inline-block;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  border-radius: 30px;
}

.delivery__card-label--1 {
  color: #49494F;
  background-color: #D0FD89;
}

.delivery__card-label--2 {
  color: #FFF;
  background-color: #AEBC41;
}

.delivery__card-label--3 {
  color: #FFF;
  background-color: #B86B78;
}

.delivery__card-label--4 {
  color: #FFF;
  background-color: #D68334;
}

.delivery__card-label--5 {
  color: #FFF;
  background-color: #CD6255;
}

.delivery__card-label--6 {
  color: #49494F;
  background-color: #FFFDBF;
}

.delivery__card-label--7 {
  color: #49494F;
  background-color: #F6FDC8;
}

.delivery__card-label--8 {
  color: #49494F;
  background-color: #FEF7FE;
}

.food {
  margin-bottom: 100px;
  padding: 40px 0 60px;
  background-color: #F6F6F6;
}

.food__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.food__title {
  margin-bottom: 50px;
}

.food__menu {
  margin-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.food__menu-item {
  font-size: 20px;
  line-height: 23px;
  color: #49494F;
  cursor: pointer;
}

.food__menu-item + .food__menu-item {
  margin-left: 58px;
}

.food__menu-item--active {
  color: #F37321;
}

.food__cards {
  margin-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.food__card {
  max-width: 270px;
  background-color: #FFF;
  -webkit-box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  overflow: hidden;
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
}

.food__card + .food__card {
  margin-left: 37px;
}

.food__card:hover {
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
}

.food__card-content {
  padding: 21px 23px;
}

.food__card-image {
  width: 100%;
  max-height: 190px;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

.food__card-title {
  margin-bottom: 13px;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #000;
}

.food__card-text {
  margin-bottom: 36px;
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
}

.food__card-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.food__card-price {
  font-weight: 500;
  font-size: 23px;
  line-height: 23px;
  color: #4B4B51;
}

.food__card-weight {
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: #AAAAB1;
}

.food__card-button {
  padding: 15px 25px;
  font-size: 16px;
  line-height: 19px;
  border-radius: 33px;
}

.food__button {
  padding: 14px 104px;
  display: block;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  font-size: 16px;
  line-height: 19px;
  border-radius: 33px;
}

.benefits {
  margin-bottom: 100px;
}

.benefits__title {
  margin-bottom: 50px;
}

.benefits__cards {
  padding-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.benefits__card {
  padding: 30px 23px 25px;
  max-width: 270px;
  min-height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border: 1px solid #E9E9E9;
  border-radius: 18px;
  -webkit-box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.benefits__card:hover {
  background-color: #F47322;
}

.benefits__card:hover .benefits__card-image path {
  fill: #FFF;
}

.benefits__card:hover .benefits__card-title,
.benefits__card:hover .benefits__card-text {
  color: #FFF;
}

.benefits__card-image {
  margin-bottom: 34px;
}

.benefits__card-image path {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.benefits__card-title {
  margin-bottom: 13px;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  color: #000;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.benefits__card-text {
  max-width: 220px;
  line-height: 23px;
  color: #49494F;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.footer {
  padding: 40px 0;
  background-color: #F6F6F6;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__menu {
  margin-right: auto;
  margin-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__menu-item {
  font-size: 16px;
  line-height: 23px;
  color: #000;
  text-decoration: underline;
}

.footer__menu-item + .footer__menu-item {
  margin-left: 50px;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__social-item {
  position: relative;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #C4C4C4;
  cursor: pointer;
  -webkit-transition: background-color .2s ease-in-out;
  transition: background-color .2s ease-in-out;
}

.footer__social-item:hover {
  background-color: #F47322;
}

.footer__social-item:hover .footer__social-image path {
  fill: #FFF;
}

.footer__social-item + .footer__social-item {
  margin-left: 20px;
}

.footer__social-image {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: inline-block;
}

.footer__social-image path {
  -webkit-transition: fill .2s ease-in-out;
  transition: fill .2s ease-in-out;
}
/*# sourceMappingURL=style.css.map */